[2015-12-16 15:39] rprouse opened #1 "Add subscribe to Google Mailing Lists buttons"
[code]

[2017-06-29 01:59] rprouse opened #3 "Update all content"
Since this prototype site was created, the main nunit site has changed. I need to update this site with all changes from the current site.

[2017-06-29 02:01] rprouse opened #4 "Import legacy documentation"
This could be experimental, but can we pull in the legacy document partials and then write an index.php that uses Javascript to load the docs? Will index.php be treated as html on github.io?

[2017-06-29 02:02] rprouse opened #5 "Move legacy downloads"
The current NUnit.org site hosts the downloads of all the old versions of NUnit. These need to be move elsewhere and the links updated. One option is to move them to backdated releases in the NUnit 2 github repository.

[2017-06-29 02:17] CharliePoole commented on #4
I'm converting to static HTML. See nunit/nunit.org#57.

The capability is part of my homebrew PHP setup.

[2017-06-29 03:34] jnm2 commented on #4
I have a preference for static HTML whenever possible.

[2017-06-29 03:54] CharliePoole commented on #5
Another is to leave them where they are.

[2017-06-29 12:54] rprouse commented on #5
Do you mean physically where they are and give them a new sub-domain? If this repo is going to be the new nunit.org website, then I believe all content needs to be in the repo and I don't think I want all those binaries in the repo. I could be wrong about binary files in github.io sites though...

[2017-06-29 13:02] OsirisTerje commented on #5
github.io is just a rendering of a standard git repository, particularly well suited for markdown files (or static files in general).  So binary files should not go there, better then drop those into some static archive repo

[2017-06-29 14:50] CharliePoole commented on #5
@rprouse So you can't have binary files in a downloads or ftp directory if the site is on GitHub? If that's a restriction they have imposed, then you put them elsewhere and change the links. One elsewhere is where they are... you we keep the nunit.org account with AcornHost for $4 per month but we set it up so that it only responds to that directory.

Your nameservers come before your web site. So

[2017-06-29 14:59] OsirisTerje commented on #5
It is not really a "site", it is a rendering engine on top of a git repository.  SO linking to something else would be good, but that "else" could be  a "static" git repo on github too, one which we dont need to change so  often

[2017-06-29 15:39] jnm2 commented on #5
The only benefit to keeping the binaries in a separate repo that I can see is for the sake of quick forking and cloning. :+1:

[2017-06-29 15:52] CharliePoole commented on #5
I'll stay out of the discussion of how to handle it on GitHub, but I can certainly keep them while you decide.

[2017-06-30 00:23] rprouse opened #6 "Decide about Donations"
The main NUnit site has a donations button and donations page. This was mirrored on the GitHub page. The donations currently go to @CharliePoole to pay for hosting and domains. The @nunit/core-team should decide if we want to continue this and if so where the money should go. This might belong in the governance repo, but I put this here since it needs to be maintained or removed from the website.

[2017-06-30 00:25] rprouse commented on #5
I am in the process of adding all the legacy downloads to this site. Even though they are all archived on the NUnit.org webserver, none of the links point to those archives. Instead, all point to SourceForge, LaunchPad.net and GitHub.

Based on this, I don't think there is anything to do for this issue except add the links to the download page on this site which I am doing now.

[2017-06-30 00:53] rprouse commented on #4
@CharliePoole I am ready to experiment with the exported HTML for the docs when you have time to do the export. Ideally without headers. You can email me a zip or attach to this issue. Thanks.

I could also try to use the existing html fragements although I think I will need to recreate the menus.

[2017-06-30 01:48] CharliePoole commented on #5
I always considered them as backups to the public downloads. Over the years, I think I made the downloads available twice, when the normal download location was unavailable. Still, it seems good to have them.

[2017-06-30 01:52] CharliePoole commented on #4
I'll just do a temporary adhoc fix to the software to not put out the headers and footers. If we're lucky I'll get to it this evening.

[2017-06-30 02:25] jnm2 commented on #6
I think we should continue donations. Some people can't contribute other ways.

Does the decision to join the .NET Foundation have anything to do with this decision?

This just crossed my mind- would anyone be open to the possibility of taking a portion of that and splitting it between team members who are active in the key projects according to a fair and simple rule as a thank you for contributi

[2017-06-30 05:20] CharliePoole commented on #4
Too tired tonight - I'll do it in the morning. Here is a question to speed things along...

My template looks like this...

[code]

The `include` line gets you the expanded html fragment. But I think you need the menu for the docs as well, which is in the sidebar. So I would give you the content div and the sidebar div. Does that make sense?

[2017-06-30 11:39] rprouse commented on #4
Content and sidebar would be perfect, but can you rename content to help_content? If the generator is in the website, I could do it too.

[2017-06-30 11:43] rprouse commented on #5
Good point on backup, but at least they won't be blocking updating this website. I will figure out a place to archive them permenantly

[2017-06-30 12:03] ChrisMaddock commented on #6
This sounds sensible to me.

[2017-06-30 12:04] ChrisMaddock opened #8 "Add Gitter link"
Presumably next to twitter and GitHub along the top?

[2017-06-30 14:11] CharliePoole commented on #4
Running the generator on the website runs into issues with permissions. I always run it on my localhost. I'll do it as soon as I finish my morning coffee. 😄

[2017-06-30 14:17] rprouse opened #9 "Add 2017 Donations to the website"
PR #7 adds most of the new donors from 2016, but we still need to add any remaining donors from last year and any from this year. @CharliePoole can you add the list to this issue when you get a chance?

[2017-06-30 14:23] #3 closed

[2017-06-30 14:26] rprouse opened #10 "Update VS Adapter to current release"
The adapter release needs to be updated to the current version.

[2017-06-30 14:29] rprouse opened #11 "Remove old RC, Alpha and Beta Downloads?"
The old downloads lists are very long. I'm not sure how useful old RC, alpha and beta releases are to people. Should we remove them from the lists?

We could also put the previous releases in a [collapsible group](http://getbootstrap.com/javascript/#collapse) to clean up the page.

[2017-06-30 14:36] CharliePoole commented on #11
IIRC there was an issue to put the legacy stuff on a separate page for both downloads and docs. Another issue spoke to converting the site structure to be product-based, i.e. products at the top level with downloads, docs, etc. beneath that.

I can go through the nunit.org issues and move any that seem appropriate.

[2017-06-30 14:39] rprouse commented on #8
FontAwesome doesn't have a Gitter icon, so maybe use `fa-comments-o`

[2017-06-30 14:43] jnm2 commented on #8
Could we eventually use the Gitter logo?

[2017-06-30 15:04] rprouse commented on #4
I tried creating a simple `index.php` on the GitHub website and it didn't work. It isn't treated as a web page, it is downloaded, so my idea of maintaining the URI's won't work. I am going to google to see if I can set the mime type for pages.

[2017-06-30 15:31] rprouse commented on #4
I've made some progress. I worked around not being able to serve up `index.php` by creating a directory of that name and dropping an `index.html` file into it. I then added some JavaScript to parse the query string and I can do that, so I think we are good to go. Hopefully the links in the generated docs will be usable and we will need to update existing links, but I think this may be doable.

If

[2017-06-30 15:35] rprouse commented on #11
@CharliePoole I am sure you are really busy right now. I don't mind going through the NUnit.org issues and moving them.

[2017-06-30 15:36] rprouse opened #12 "Revise web site organization to reflect multiple products"
@CharliePoole commented on [Tue Mar 14 2017](https://github.com/nunit/nunit.org/issues/55)

The site was started when NUnit was just NUnit. When we added the VS adapter, we had two products and that didn't seem like enough to add a Products menu. Now (suddenly?) we have a bunch of things so it's past due.

My general idea is that there will be a top-level product menu with all the info (docs, down

[2017-06-30 15:40] rprouse opened #13 "NUnit Official website is vulnerable with HTML Injection"
@CharliePoole commented on [Mon Aug 15 2016](https://github.com/nunit/nunit.org/issues/44)

@raad9 commented on [Wed Nov 18 2015](https://github.com/nunit/nunit/issues/1034)

i am able to inject any html code with this vulnerability on this page : http://nunit.org/?p=

the variable "p" is vulnerable .

So what i can do with this ? it's easy to help me steal users cookies , by injecting an "img" ta

[2017-06-30 15:40] rprouse opened #14 "Update the Contact page"
@CharliePoole commented on [Fri Sep 26 2014](https://github.com/nunit/nunit.org/issues/17)

The project organization on GitHub has changed

[2017-06-30 16:26] raad9 commented on #13
Hi ,

I wonder if there is any  bounty/swag for reporting this issue .

[2017-06-30 16:32] CharliePoole commented on #11
I'd like a chance to express an opinion on them.

[2017-06-30 16:33] CharliePoole commented on #11
@rprouse I hadn't expected any of this stuff to start quite yet - not until I finished with my tasks - but I'm doing my best to keep up with you!

[2017-06-30 17:26] CharliePoole commented on #4
Frankly, you seem to be doing a lot of work to avoid continued use of the existing host. You could easily change the look and feel on that host, or you could simply leave the legacy docs there and let it look like it looks!

At any rate, I'll have the files for you shortly.

[2017-06-30 18:10] CharliePoole commented on #4
Sent the files...

[2017-06-30 18:11] rprouse opened #15 "Update copyright"
The copyright is now to NUnit, switch to CC and put under @CharliePoole and @rprouse.

For CC, I would prefer Attribution-NonCommercial-ShareAlike so people can't turn the docs into a commercial book without the copyright holders' permissions. Sound good?

[2017-06-30 18:12] CharliePoole commented on #15
That's what I had in mind.

[2017-06-30 18:16] rprouse commented on #4
My issue with the existing host is that it is PHP based which most .NET developers don't have installed making it hard to test changes locally. I guess that isn't much different than having to have Ruby installed, but at least it doesn't require Apache or IIS too. Getting up and running with this implementation only took a few minutes compared to setting up a LAMP stack.

[2017-06-30 18:29] CharliePoole commented on #4
Sure... it's only a problem if your redirection doesn't work. It sounds a bit labored.

If you left legacy docs on the old server, without changing the look, then nobody would ever update it. This is the first time I've updated any php in about five years. If you wanted to duplicate the look, that would take more knowledge.

[2017-06-30 18:59] jnm2 commented on #15
I like it.

[2017-06-30 21:14] rprouse commented on #4
The redirect works and I had some fun this afternoon pretending I'm a front-end web dev 😄

[2017-06-30 21:45] #4 closed

[2017-06-30 21:45] #15 closed

[2017-06-30 22:04] jnm2 commented on #15
Can we make it `Copyright © 2017 Charlie Poole, Rob Prouse` instead of `Copyright © 2017, Charlie Poole, Rob Prouse` to match the other things we've done?

[2017-06-30 22:59] rprouse commented on #15
Are you talking about the extra comma? Fine by me. We can do it with the next update

[2017-06-30 23:09] jnm2 commented on #15
Yes.

[2017-07-01 10:17] ChrisMaddock opened #17 "Legacy Docs: Content overlap"
With 'wide' docs pages, the side menu can sometimes overlap the content. See below:

http://nunit.github.io/docs/2.4.8/collectionConstraints.html
![image](https://user-images.githubusercontent.com/4837132/27761164-d722a0b6-5e4e-11e7-85a7-021174a2111c.png)

Hopefully there's a simple CSS change - although afraid I'm not the person to supply that!

[2017-07-01 10:19] ChrisMaddock opened #18 "Legacy Docs: Language picker broken"
![image](https://user-images.githubusercontent.com/4837132/27761180-148a36b2-5e4f-11e7-95d3-3c04c2f104ab.png)

We can just strip them all out - the code samples look find just one under each other.

[2017-07-01 16:01] CharliePoole commented on #17
If you compare it to http://nunit.org/index.php?p=collectionConstraints&r=2.4.8 there are two differences

1. The table doesn't limit itself in width and doesn't have the styling it has in the original.

2. The sidebar menu is not at the right of the screen.

This is css, specifically `nunit.css`.

@rprouse You had me change the `#content` id to `#help_content`, which I did. But `nunit.css`, which

[2017-07-07 12:51] ChrisMaddock commented on #18
See #20 for ongoing discussion of how to handle this issue. Essentially, if anyone's interested in fixing this - great. If not, we may just remove them instead

[2017-07-07 12:51] ChrisMaddock commented on #14
Is this issue still required?

[2017-07-07 12:53] ChrisMaddock commented on #11
Collapsible groups sound good to me. I'd prefer that to removing them entirely - they are still releases, which are out in the wild. 🙂

[2017-07-07 12:55] ChrisMaddock commented on #6
I'm doing a little organising in the nunit.github.io repo - I'm going to move this to governance - as I think it's first an issue for the Core Team to decide what action to take.

[2017-07-07 12:55] #6 closed

[2017-07-07 12:55] ChrisMaddock commented on #6
Issue moved to [nunit/governance #25](https://github.com/nunit/governance/issues/25) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-07 12:56] ChrisMaddock commented on #5
This looks done to me, thanks Rob! 🙂

[2017-07-07 12:56] #5 closed

[2017-07-07 15:02] CharliePoole commented on #18
Also #17. My guess is that a number of things will start working if the CES for elements under #content starts being used again. Since it's a global fix I was figuring @rprouse had to do it at this point.

[2017-07-07 15:14] CharliePoole commented on #6
Good idea to move this. I'm hoping for a decision soon. The new site makes it a bit more prominent than it was and it's silly to use it as one of the three highlights of home page unless you want them. Even sillier to keep sending them to me. :smile:

[2017-07-07 19:07] rprouse commented on #11
No worries about the RCs, it is just an idea. We can clean them up in other ways 😄

[2017-07-10 02:31] jnm2 opened #21 "Fix HTTPS certificate issue for nunit.org and make all redirects go to HTTPS"
Besides being professional, and more recently, a basic expectation of how the web always should have been ([puts it well](https://https.cio.gov/everything/)), HTTPS is especially important because we have download links to executables people run. Even if the download link uses HTTPS, that means nothing if the page itself is not loaded 100% over HTTPS.

As found by Ivan Pozdeev: https://nunit.org/

[2017-07-10 02:35] jnm2 commented on #21
https://nunit.org/ gives an HTTPS error because the  certificate is only valid for *.github.com, github.com, *.github.io, and github.io.

Also, https:/nunit.com redirects to http://nunit.org. All redirects should be HTTPS and any site hit via HTTP should redirect to HTTPS.

[2017-07-10 06:49] CharliePoole commented on #21
@jnm2 I have changed the redirection for nunit.net and nunit.com to use https.

I'm not clear what is meant by the hardfix label. I've been using it for stuff on the scope of "implement parallel execution of tests." This sounds like we just have to change a setting and edit some html files.

[2017-07-10 15:38] jnm2 commented on #21
Hmm, feel free to update it then. I assumed it would be hard to obtain and install a custom certificate valid for all our domain names, indeed possibly expensive unless the .NET Foundation helped out. Ive never run a github.io site.

https://nunit.com is still redirecting to non-https nunit.org. Which is good until we get the custom cert because right now browsers stop people from seeing https://n

[2017-07-11 00:01] rprouse commented on #21
So far, in the help docs, it says you can enforce HTTPS for github.io sites. It also states that `HTTPS is not supported for GitHub Pages using custom domains.`, thus the `hardfix` label is valid. https://help.github.com/articles/securing-your-github-pages-site-with-https/

It is less desirable, but maybe we can redirect HTTPS to HTTP? Otherwise, we might want to consider other hosting.

[2017-07-11 00:09] jnm2 commented on #21
Ah, if you don't mind using CloudFlare, we can keep the hosting and do this for free: https://gist.github.com/cvan/8630f847f579f90e0c014dc5199c337b

[2017-07-11 01:29] rprouse commented on #21
That is an excellent workaround, thank you @jnm2

I would prefer to hold off on this a bit though. We are planning on joining the .NET Foundation and they can help us with SSL Certs.

[2017-07-12 00:05] jnm2 commented on #21
Relevant: https://www.troyhunt.com/life-is-about-to-get-harder-for-websites-without-https/

[2017-07-13 10:45] rprouse commented on #14
I don't see anything to do here. We fixed the broken links in a previous PR.

[2017-07-13 10:45] #14 closed

[2017-07-13 10:49] rprouse commented on #13
@raad9 we are all volunteers who put in our own time and money to keep the project running, so any bounty would come out of our own pockets. Swag is the same, we don't have any because we would have to pay out of pocket to create it. The only bounty we can offer is our thanks 😄

This issue is no longer applicable to the new site since it is all static.

[2017-07-13 10:49] #13 closed

[2017-07-13 11:06] #9 closed

[2017-07-13 11:07] #17 closed

[2017-07-13 11:07] #18 closed

[2017-07-13 12:26] #8 closed

[2017-07-13 12:26] #10 closed

[2017-07-13 12:51] rprouse opened #25 "Use Gitter Icon with Link"
I just check Font Awesome 5 including Pro and they still don't have a Gitter icon. There is an SVG Gitter icon available on https://simpleicons.org/ though, we could probably use that.

[2017-07-14 01:29] rprouse opened #27 "Update GitHub Link"
Update the GitHub link to go to the organization rather than the nunit repo.

[2017-07-14 01:30] rprouse opened #28 "Add recent news to the front page"
Needs design, but it would be nice to show a the last few news items on the front page like on the old site.

[2017-08-30 20:06] ChrisMaddock opened #32 "Footer does not respect navigation length in legacy docs"
![image](https://user-images.githubusercontent.com/4837132/29892568-f5f8dc74-8dc6-11e7-9683-da6371ef6315.png)

See http://nunit.org/docs/2.5.1/attributes.html. Seems to occur when the nav bar is taller than the content on the page.

[2017-11-26 15:00] rprouse opened #39 "Legacy docs take a long time to generate"
I am not sure how to fix this, but until we added the legacy docs, the site regenerated nearly instantly as you made changes. It not takes nearly a minute. This really slows down the dev/test cycle.

We could,

- Not generate the files and use javascript to include them, similar to our current index.php javascript redirect, but do the include
- Pre-generate them and only regenerate when we change

[2017-11-26 15:56] #27 closed

[2017-12-13 21:59] CharliePoole opened #43 "Remove or update donations link"
I just noticed that the donations link is still active and pointing to the account I use for payments to my business. Can we get this deactivated or switched? All that is needed is for somebody to set up a paypal account for the NUnit Project and change the button to use that link.

[2017-12-13 22:07] CharliePoole opened #44 "Transfer nunit.org and nunit.net domains"
These are coming up for renewal on 3/29 and 4/29 respectively. It's not too soon to do something! As a preliminary step I propose to set up a separate account with GoDaddy for the NUnit Project and move the domains to that account. That doesn't require action by anyone but myself and if we don't do a transfer of registrar before the renewal date, I can simply change the name on that account to Rob

[2017-12-13 22:10] CharliePoole opened #45 "Move DNS for nunit domains"
Acornhost is where I previously hosted the site and the DNS is still there. We don't actually use it for anything except DNS and (I believe) one email address. I propose to move it either to GoDaddy if the registration remains there or elsewhere if we know where it should be at this time.

This is related to issue #44 but separate from it.

[2017-12-13 22:10] CharliePoole commented on #45
Assigning myself but waiting for input.

[2017-12-14 10:08] ChrisMaddock commented on #45
@rprouse - could both this and #44 be handed over to the .NET Foundation, or is that outside of their remit? I feel like that's the most sustainable option. 🙂

[2017-12-14 13:51] CharliePoole commented on #45
That's OK with me... BUT...

These things have needed doing for a while. There was a governance issue, I think about a year ago, and the core team decided to postpone. As the person who is waiting for #43, #44 and #45, I'm getting a bit impatient, so I escalated it to the point of creating issues. I don't like putting myself in conflict with the rest of the team over this stuff, but there are spec

[2017-12-14 13:56] CharliePoole commented on #45
Fallback plan for this issue... By the end of the year, if nothing has happened to change things, I will move the DNS to a GoDaddy account (free DNS) and cancel the nunit.org account I have at Acornhost. Prerequisite will be first completing the fallback on #44, q.v.

[2017-12-14 14:02] ChrisMaddock commented on #45
That's reasonable.

Are you happy for us to contact the .NET Foundation, and see if we can get this sorted the 'long-term-plan' way immediately? And if not, or we don't get a timely response, we can set go ahead with the back up plan? @rprouse - you've had the most contact so far, would you be able to raise this?

[2017-12-14 14:04] CharliePoole commented on #44
It has been suggested that we transfer the domains to the .NET Foundation. However, we don't know if they do that and need to find out. I assume that the Core Team would also have to vote on whether we want to give up ownership of the domains.

Fallback... if that isn't resolved by the end of the year, I will set up a new account at GoDaddy, separate from mine, in the name of The NUnit Project. I'

[2017-12-14 14:06] CharliePoole commented on #43
Fallback... If we can't decide by the end of the year, I'll take this issue and do a PR to disable the link for the time being.

[2017-12-14 14:08] CharliePoole commented on #45
Definitely happy with that! Also happy to work with whomever does that sort of thing for the foundation if @rprouse gives the OK - and the contact. 😸

[2017-12-14 15:01] rprouse commented on #43
For now, let's comment out the button on the page. I am not against taking donations, but when StickerYou offered us money, the team was hesitant taking it. Let's wait until we finish the transition to the .NET Foundation to decide, they may have accounts that we could use for the donations.

[2017-12-14 15:02] rprouse commented on #45
For now, how about we transfer the domains to my NIC handle on Gandi.net and I will manage the DNS. I will get you the info soon. Assigning this issue to me.

[2017-12-14 15:41] CharliePoole commented on #45
That's great... #44 comes first, obviously, and can be done separately, leaving the DNS with Acorn until you change it. In that case, I wouldn't have anything to do on this one except cancel the Acorn account when it's no longer needed.

[2017-12-14 15:44] CharliePoole commented on #44
If Gandi.net works like others I've used, you will probably need to initiate the transfer of the domain to their registration and I'll be asked to confirm. To keep things simple, you may want to initially point the DNS to NS13.ACORNHOST.COM and NS14.ACORNHOST.COM. Then, once you set it up as you want in CPanel or other interface, you can repoint it and I can drop the Acorn account.

[2017-12-14 16:06] CharliePoole commented on #43
@rprouse I messed up and pushed to master rather than to a branch! Please take a look at the donations page and see if you want the wording changed in any way. Also added a missing contributor to the list.

[2017-12-14 19:10] rprouse commented on #43
Looks good, thanks for doing that. I will leave this open so that we can decide what to do about donations when we are ready. I'm also going to lock master on that repo 😄

[2017-12-14 19:12] rprouse commented on #45
I would like it to go to the foundation, but I think Jon is overworked and doesn't have enough help, so I will take it for now.

[2017-12-22 15:28] CharliePoole commented on #44
@rprouse Any movement on getting this transfer started?

[2017-12-23 21:33] rprouse commented on #44
No, sorry. We had a release going out just before Christmas at work. I have a week and a half off now. I will try to get to it once Christmas is past.

[2017-12-28 21:33] rprouse commented on #44
I tried to initiate the transfer today, but got the error `The domain's whois data shows that it has the Transfer Prohibited status` for both domains. I think you need to enable transfer @CharliePoole.

[2017-12-28 21:40] CharliePoole commented on #44
Unlocked... wait a bit and try again.

[2017-12-28 23:04] rprouse commented on #44
I've initiated transfer. I think you will receive an email and then I will need a verification code.

[2017-12-28 23:09] rprouse commented on #44
Transfer failed because I need a transfer authorization code for each domain. I thought that was second step, but needed for first step. @CharliePoole can you get those codes? Mail them to me so they aren't public.

[2018-01-01 18:18] rprouse commented on #44
Closing, the two domains are successfully transferred. Working on the DNS next.

[2018-01-01 18:18] #44 closed

[2018-01-01 19:11] rprouse commented on #45
DNS is switched over for the two domains. I will close this issue once I see it propogate and once I see that there are no errors. Timeout for the old `NS` records is 6 hours, so I should be able to check the changes by 20:00 EST today. `dig nunit.org any` is still showing the old records for me.

[2018-01-02 08:55] #45 closed

[2018-01-02 08:58] rprouse commented on #25
Font Awesome 5 has been released and the free icons include a Gitter icon. If we upgrade, we could use that.

[2018-01-04 03:57] CharliePoole commented on #44
As a follow-up to this and #45, the NUnit hosting account at Acorn host is now closed.

[2018-01-04 03:59] CharliePoole commented on #45
Following up on this... My charliepoole.org site is currently forwarding nunit.com to nunit.org. I'll keep on doing this until I decide exactly how to use it.

[2018-01-24 01:37] #11 closed

[2018-01-30 02:27] rprouse opened #47 "Change copyright in footer for Legacy Docs"
Legacy docs should have a different copyright than the rest of the site. They should remain under their old copyright. @CharliePoole can you confirm that it should be `Copyright (c) 2014, Charlie Poole. All Rights Reserved.`

I am using 2014 because that is the last 2.6.4 release, so the last time the documents were likely edited, but another date is fine.

I think you can specify a different foot

[2018-03-04 16:33] #47 closed

[2018-03-20 22:27] halex2005 commented on #32
It is because of absolute positioning of sidenav. We need to change markup of legacy docs. Can we do so?

[2018-03-20 22:31] halex2005 opened #50 "Include dotnet-new-nunit into list of projects"
List of repositories lacks dotnet-new-nunit link.

[2018-03-21 08:48] halex2005 commented on #32
@rprouse, I think it is possible to automatically extract text from old docs to markdown and then generate html using jekyll. Then we can use one markup for all the docs. What do you think?

[2018-03-21 12:26] rprouse commented on #32
Doing so may break the multi language code blocks. An interesting experiment might be to grab the original doc fragments from the old site's repo and use JavaScript to reconstruct them on the fly. Originally it was done with PHP. That would reduce the size and compile time of the site considerably.

[2018-06-30 18:03] rprouse commented on #21
HTTPS is now available for GitHub pages with custom domains, https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

Enabling just requires we switch from using DNS A records to CNAME or ALIAS which I am doing now. Once I've tested and it is working, I will enforce HTTPS which will cause people going to HTTP to be automatically redirected.

[2018-06-30 18:16] rprouse commented on #21
DNS has been updated, just waiting for it to propagate so that I can test.

[2018-07-03 20:26] rprouse opened #52 "Update Nokogiri dependency"
GitHub is reporting the following,

Known  moderate severity security vulnerability detected in nokogiri < 1.8.2 defined in Gemfile.lock.                                                                                                                                                                                                                   Gemfile.lock update suggested: nokogiri ~> 1.8.2.

[2019-02-10 19:08] 304NotModified opened #61 "repo url to https"
Please change the url of the repo to https :)

It should be http**s**://nuget.org, **not** https://**www**.nuget.org

![image](https://user-images.githubusercontent.com/5808377/52538170-a38c2000-2d6f-11e9-98d1-9027916c1bf3.png)

related: https://github.com/nunit/nunit/issues/3161

[2019-02-10 21:52] 304NotModified opened #62 "Please enable "Enforce HTTPS" for nunit.org"
Https://nunit.org is working great!

It would be nice if https is enforced. You could configure that in github:

In the section "options"

![image](https://user-images.githubusercontent.com/5808377/52540128-64b59480-2d86-11e9-92d2-61eaaac073a6.png)

there is below an option "Enforce HTTPS"

![image](https://user-images.githubusercontent.com/5808377/52540133-6ed79300-2d86-11e9-8b58-1d2add92ca1d.png

[2019-02-10 21:52] 304NotModified commented on #21
I think this one could be closed?

[2019-02-10 21:58] 304NotModified commented on #43
I think this is done already ;)  Could you please update the page? (and I guess this issue could be closed then)

[2019-02-12 17:19] rprouse commented on #43
@nunit/core-team do we want to pick up the conversation here? At the moment, I think I would prefer to link to past contributors, but not accept contributions. I am open to accepting contributions, but we need to figure out what to use them for and how to distribute them.

[2019-02-12 19:39] ChrisMaddock commented on #43
I agree that is a good interim measure.

[2019-02-12 23:13] jnm2 commented on #43
Sounds good.

[2019-03-14 23:03] 304NotModified commented on #61
bump @ChrisMaddock

[2019-03-15 03:29] CharliePoole commented on #61
@rprouse ?

[2019-03-16 12:36] #61 closed

[2019-03-16 12:39] rprouse commented on #62
Before we enforce Https I want to make sure existing http links will be properly redirected. There are a lot of links into the legacy docs.

[2019-03-16 12:53] 304NotModified commented on #62
the enforce will redirect http to https, it will not disable http or something like that. So for legacy, enforce is really recommend. ;)

[2019-03-16 13:46] ChrisMaddock commented on #62
My understanding is also that GitHub pages will 'by default' do a transparant redirect. Ref here: https://help.github.com/en/articles/securing-your-github-pages-site-with-https

I'd be keen for the site to go full https as well. 🙂

[2019-05-31 11:23] ChrisMaddock commented on #62
Hey @rprouse,

Would you mind revisiting this one? It seems like a we can check fairly easily if it's working as we want or not, and also revert easily if there's problems.

Let me know if I can help at all - this is an issue I'm keen on. 😄

[2019-06-03 16:32] rprouse commented on #62
Done and it seems to be working. I was worried about old links like http://www.nunit.org/docs/2.5.5/attributes.html not redirecting properly because https://www.nunit.org does not have a proper certificate, but it properly redirects to the HTTPS non-www page.

[2019-06-03 16:32] #62 closed

[2019-06-03 19:45] ChrisMaddock commented on #62
Awesome! Thanks rob! :-D

[2019-06-03 19:46] ChrisMaddock commented on #21
Done in https://github.com/nunit/nunit.github.io/issues/62

[2019-06-03 19:46] #21 closed

[2019-09-25 01:37] #43 closed

[2019-09-25 01:37] #52 closed

[2020-06-29 00:46] jnm2 opened #79 "All NUnit 2.x documentation links take you to a 404 page"
/cc @rprouse
Not sure if this is related to changes made for our new docs, so looping in @SeanKilleen.

All 2.x links on https://nunit.org/documentation/ take you to URLs like https://docs.nunit.org/2.6.4/docHome.html with 404s:

![image](https://user-images.githubusercontent.com/8040367/85962760-73ebb100-b980-11ea-97de-4b8c4f0c9e4e.png)

[2020-06-29 01:20] SeanKilleen commented on #79
@jnm2 thanks for bringing this to my attention. This indeed appears to be a breaking change because GitHub's DNS and hosting is having trouble hosting both `nunit.org/docs/*` and `docs.nunit.org` due to the overlap of docs.

This is unfortunate; GitHub support confirmed that this should have been fine.

Rob is away at the moment but I can see a few courses of action here:

1. Temporarily take the

[2020-06-29 01:53] SeanKilleen commented on #79
In the interest of preserving existing material over new stuff, I am going to attempt to take the docs site offline in the hopes that this resolves the conflict for the time being.

[2020-06-29 01:56] jnm2 commented on #79
That sounds good. Thanks for being willing to do something so quickly! 3 sounded good if that ends up being a way to keep the old links working without giving up the `docs.nunit.org` domain.

[2020-06-29 02:02] SeanKilleen commented on #79
The symptom of this issue should be resolved for now.

We can revisit publishing the docs site once I've ported the legacy docs as-is to the site and have gotten @rprouse's OK that he's comfortable to proceed that way.

[2020-06-29 02:03] SeanKilleen commented on #79
Again, great catch @jnm2 -- I'm glad we didn't have this as an issue for too long. Stability is important to me 👍

[2020-06-29 02:07] jnm2 commented on #79
It was dumb luck. I was there to confirm whether NUnit was originally copyright 2000 or 2001. 2000, it turns out. 😀
Thanks for your help!

[2020-06-29 02:07] #79 closed

[2020-06-29 03:21] CharliePoole commented on #79
Wondering why this is closed if only the immediate issue is solved.

Anyway, see my comment on /nunit/docs#41about the copy of the docs on the nunit-legacy site.

[2020-06-29 16:13] jnm2 commented on #79
Sorry, shall I reopen? I was judging by the location and title that this issue only tracked the immediate problem.

[2020-06-29 16:14] jnm2 commented on #79
Never mind, I see that Sean moved the outstanding question to https://github.com/nunit/docs/issues/441.

[2020-08-01 16:44] #50 closed

[2020-08-02 00:55] SeanKilleen opened #86 "Some Old v2 docs still on NUnit.org?"
There appears to still exist a non-canonical NUnit V2 reference on the NUnit.org site:

https://nunit.org/nunitv2/

This also tends to have a lot of the top results for various NUnit searches.

Are these docs published along with this project? I can't seem to locate them in order to submit a PR.

[2020-08-02 03:53] CharliePoole commented on #86
The NUnitV2 project was archived in 2015. I temporarily unarchived it to check it out and discovered that we placed a copy of the documentation in a gh-pages branch and published it. At the time, we didn't have the current nunit.org our site was on a host that I provided.

Back when we set up an __organization__ site using GitHub Pages and Jekyll, that NUnitV2 site would have become visible at the

[2020-08-02 04:01] SeanKilleen commented on #86
Ah-ha -- nice sleuthing, @CharliePoole!

Are you able to set the branch for github pages to `None` in the repo's settings?

Example below from `docs`:

I think the route you proposed makes sense as long as the option above isn't available.

[2020-08-02 04:23] CharliePoole commented on #86
Yes, that's the standard way to unpublish. However, it won't work if there's an existing gh-pages branch... an error message appears with a link that takes you .... wait for it.... to the same thing you posted (which doesn't work). thank you github :smiley:

If it were urgent, I would have just done what I proposed, but since it has been a problem for a few years, let's see what others say about t

[2020-08-02 11:34] ChrisMaddock commented on #86
😂 This mission to preserve links just gets more and more complex, right?

I'd like for us to go down to a single version of the v2 docs - the ones now in the docs repo. _Ideally_ I'd like for the links to the `/nunitv2/` version to redirect to the new authoritative place as well, but I think we need to be realistic about how much time and effort we're prepared to put into this - I think this versi

[2020-08-02 15:09] CharliePoole commented on #86
I'm not a big fan of the idea that every link has to be preserved, at least not in this case. The files were copied there in order to __archive__ them, not to make them visible. Unless you knew the secret of `https://nunit.github.io/nunitv2`, you could only get to them through our links on the `nunit.org` documentation page.

Of course, when we moved `nunit.org` to GitHub as an organization-level

[2020-08-02 15:36] jnm2 commented on #86
If I remember right, sites that have broken links can get demoted in Google's search results. It's been a while though so this might not be the case.

[2020-08-02 16:12] SeanKilleen commented on #86
I have worked with Google Webmaster Tools before and am able to sort those sorts of things out.

If @rprouse was to grant me access at a domain level (so that I could add TXT records to verify ownership, etc.) I could use the GWT console to sort out the mess of docs and point to `docs.nunit.org` as canonical.  That's entirely up to him though.

[2020-08-02 16:31] CharliePoole commented on #86
This is another of those cases where an issue really represents two issues:

1. How to fix the links
2. What to do with the extra copy of legacy docs.

If it weren't the NUnitV2 project, I'd just create a new issue on the project itself for item 2.

However, the NUnitV2 project is archived and can't have issues. Even if it could, it doesn't have a project team or lead so there's nobody to act on a

[2021-08-04 01:43] rprouse opened #93 "Update Code of Conduct"
See https://github.com/nunit/governance/issues/41

The .NET Foundation now has a standard [code of conduct](https://dotnetfoundation.org/about/code-of-conduct) for all projects and the [markdown file](https://github.com/dotnet-foundation/website/blob/main/CODE_OF_CONDUCT.md) linking to it.

This standardizes the CoC across member projects but more importantly for us it provides an email address fo

[2021-12-03 15:26] Arhell opened #95 "update favicons"
i add new favicons for all devices
https://realfavicongenerator.net/favicon_checker?protocol=https&site=nunit.org%2F#.Yao22tBByMo

[2021-12-05 21:21] #95 closed

[2021-12-06 19:05] Arhell opened #97 "update footer on mobile"
![06-12-2021 21-02-48](https://user-images.githubusercontent.com/26163841/144906544-0eb57923-5794-4da5-a65c-9315cf0f96a8.jpg)

[2021-12-07 13:44] SeanKilleen opened #99 "Netlify build for site?"
seeing #98, I realized there's not currently any way to see a quick preview of changes.

If I have the right access -- and I think I might? -- I can add Netlify to the solution and hook it here as a check. Will catch and build errors plus let us see a preview of each PR, and will do so for free since the repo is public.

Let me know if it would be helpful.

[2021-12-07 23:10] #97 closed

[2021-12-07 23:13] Arhell commented on #99
Of course you can, I don't mind. Since the site is on jekyll it will be easy.

[2021-12-07 23:16] SeanKilleen commented on #99
Yep! This is more a question for @rprouse.

[2021-12-08 05:34] rprouse commented on #99
Huge thumbs up for this!

[2021-12-08 22:23] Arhell opened #100 "Content goes off-screen on a tablet"
![09-12-2021 00-21-27](https://user-images.githubusercontent.com/26163841/145294099-310927e5-19b2-4abe-b473-7015b9ea5a2e.jpg)
I'll fix it soon

[2021-12-08 22:28] mikkelbu commented on #100
Thanks for reporting this @Arhell.

Please wait for a review before merging the PR. I can see that that this - unreviewed PRs - happens sometimes in this project, but the norm is to get anything reviewed before merging.

[2021-12-11 17:29] Arhell opened #102 "Copyright current year"
Do I need to update the year?
I can do it with js. сс @SeanKilleen

[2021-12-11 17:56] SeanKilleen commented on #102
@rprouse -- checking in on this to make sure I've got it right.

These changes are for the NUnit site but as of now my area has been constrained to the docs.

If you'd like me to review and assist with these PRs on the site, I'm happy to. Just wanted to make sure you'd like me to proceed in that capacity first. 👍

[2021-12-12 02:53] rprouse commented on #102
@SeanKilleen feel free to review, I trust your judgement.

@Arhell updating with JS sounds like a good idea

[2021-12-12 14:41] SeanKilleen commented on #102
@Arhell I'm thinking since the site is published with Jekyll, if possible we could use liquid formatting which would then update whenever the site is published. Saves the JS code and uses the tooling that the site has adopted.

Let me know your thoughts!

[2021-12-12 14:43] CharliePoole commented on #86
@rprouse Ping!

I'm not sure (1) if my renaming proposal still makes sense or (2) if I still have access to carry it out, but either way this seems like a pretty stale issue!

[2021-12-12 14:51] CharliePoole opened #103 "Downloads page not up to date"
The downloads page doesn't list the latest versions of several of our products, e.g.: NUnit Console 3.12 and NUnit Test Adapter 3.17.

The links themselves actually go to the latest release. Is there any way we can automatically pick up the names and display them?

As a short term fix, the text should be updated. It's a simple change but I hesitate to do it myself since I'm not set up to display t

[2021-12-12 14:57] CharliePoole commented on #102
"Do I need to update the year?" I assume you mean the copyright year for the web site in the footer? If yes, I think you do!

Since it only would need to be done once a year and is a trivial change, I'd say do what's easiest.

[2021-12-12 16:50] mikkelbu commented on #103
I can do an update of all the releases (Rob has made it, so that it is possible to see the changes locally using a docker image).

Regarding automatic this, then we could follow the `latest` redirect to the actual page - e.g. https://github.com/nunit/nunit/releases/tag/v3.13.2. From this url we know the version number (hopefully it corresponds to the tag). It is also possible to extract the date,

[2021-12-12 17:28] #100 closed

[2021-12-12 20:17] #103 closed

[2021-12-13 12:41] #102 closed

[2021-12-13 16:52] rprouse commented on #86
@CharliePoole I think renaming the branch is a good idea.

On a related note, should we be maintaining the v2 documents here, https://docs.nunit.org/?

The styling is all messed up and they look terrible.

[2021-12-13 17:02] SeanKilleen commented on #86
@rprouse thank you for reminding me of this. We'd had this working for a bit but something went wrong along the way.

I'll prioritize figuring that out.

[2021-12-15 21:38] SeanKilleen commented on #99
Updates on this:

* I've applied to Netlify for an OSS team, which provides for an allowance of free minutes etc. for an OSS project.
* Separately, I've authorized Netlify for this repo under my own Netlify account. Builds etc. will use the free minutes on my Netlify account. Once we get the OSS Account, I'll transfer this over there and add others.

[2021-12-17 21:52] Arhell opened #106 "add high resolution icon"
https://realfavicongenerator.net/favicon_checker?protocol=https&site=nunit.org%2F#.Ybz4E2hByMo

[2021-12-18 22:09] #106 closed

[2021-12-24 17:15] Arhell opened #108 "Accessibility - add link name"
![24-12-2021 19-14-01](https://user-images.githubusercontent.com/26163841/147366526-d489c226-5baf-449b-948a-d43b5cda0fe5.jpg)

[2021-12-25 12:15] #108 closed

[2021-12-25 23:34] Arhell opened #110 "Accessibility - add alt to images"

[2021-12-27 23:43] #110 closed

[2021-12-28 22:32] Arhell opened #112 "Accessibility - fix object-alt"
![29-12-2021 00-30-32](https://user-images.githubusercontent.com/26163841/147611907-920a89cf-fd0f-4f0d-a206-7e5379b99050.jpg)

[2021-12-30 22:19] #112 closed

[2022-01-01 18:04] Arhell opened #114 "Accessibility - update color contrast"
![01-01-2022 20-03-11](https://user-images.githubusercontent.com/26163841/147857200-c0b8ca28-8592-4d28-8025-1c23f7fdf714.jpg)

[2022-01-03 13:55] #114 closed

[2022-01-07 00:10] Arhell opened #116 "add padding (UI)"
![07-01-2022 02-07-56](https://user-images.githubusercontent.com/26163841/148470030-add9017a-a455-40c9-bf85-97ee6fed5f84.jpg)
adding more "air" to the sections

[2022-01-08 13:19] #116 closed

[2022-01-09 12:27] Arhell opened #118 "feature - update gemfile"

[2022-01-12 17:05] Arhell opened #120 "update template"
https://nunit.org/nuget/license.html
to have a standard html document

[2022-01-13 19:53] #118 closed

[2022-01-14 10:31] #120 closed

[2022-01-15 07:54] Arhell opened #122 "update links"
http=>https

[2022-01-15 20:12] CharliePoole opened #123 "Update news and download links for the console runner"
There is no info on the site since 3.12 release, so this needs to be caught up.

Ideally, we should find some way to automate this as releases are done.

[2022-01-17 18:52] #122 closed

[2022-01-20 11:15] Arhell opened #127 "more links update"
http=>https

[2022-01-21 21:53] SeanKilleen commented on #127
@Arhell it may make sense to create one issue for this task and then have several PRs that reference the issue. That way the overall progress is clear and we have traceability. It sounds like the issue would be "Move links to https where applicable".

Not necessary this time, but may be worth keeping in mind for future reference.

[2022-01-21 22:15] #127 closed

[2022-01-26 19:27] ChrisMaddock commented on #32
@SeanKilleen - I've just been closing out some of my old issues, should this now be in the docs repo?

[2022-01-26 19:30] SeanKilleen commented on #32
@ChrisMaddock yep, this can be moved to an issue in the docs repo and closed out here if you'd like 👍

[2022-02-08 21:51] Arhell opened #131 "add 404 page"
create page

[2022-03-05 15:01] #131 closed

[2022-03-08 09:01] Arhell opened #135 "update flag on tablet"
goes outside the container

[2022-03-11 22:53] #135 closed

[2022-03-12 23:00] Arhell opened #137 "fix .NET Foundation on tablet"
![Screenshot_2](https://user-images.githubusercontent.com/26163841/158037921-76370d94-ffa8-44f3-aa02-4c6cdcaf58ca.png)

[2022-03-15 14:20] #137 closed

[2022-08-13 17:07] Arhell opened #140 "add svg favicon"

[2022-08-15 14:58] #140 closed

[2022-09-15 03:38] CharliePoole opened #142 "Add Helping or Contributing section to the web site"
We need more contributors and team members for our projects and the web site seems like a good place to start. This is just the outline of a proposed change - I'd like to see it implemented iteratively, making changes we feel are needed once we see what it looks like and what level of engagement it produces with potential contributors

### Join Us
This would be a new small section on the home page